body{
    background-color: rgb(211, 140, 140);
}

.mainBarDiv{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoMain{
    width: 100px;
    height: 100px;
    /* size: 50%; */
}

h1{
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;
    /* color: gold; */
}

h2{
    padding-top: 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: large;
}

.pModal{
    font-family: 'Brush Script MT', cursive;
    font-size: large;
}

#mainBar{
    margin: 0%;
    padding: 0%;
    /* list-style-type: none; */
    display: flex;
    /* flex-flow: row; */
    justify-content: center; 
    align-items: center;
}

#navBar{
    background-color: violet;
    /* border-top: 1px solid rgb(211, 140, 140);
    border-bottom: 1px solid rgb(211, 140, 140); */
}

ul{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;    
}

li a {
    display: block;
    color: black;
    padding: 3px;
    text-decoration: none;
  }

.subBody{
    display: flex;
    flex-flow:row; 
    justify-content: center;     
}

form{
    width: 400px;
}

.elemBlock{
    width: 400px;
    height: 75px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.inputText{
    height: 25px;
    width: 300px;
}

.inputCom{
    height: 50px;
    width: 300px;
}

.formatoError{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.hiddenError {
    display: none;
}

.alertaRoja{
    border: 2px solid red;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #c05555;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }